.catalog-preview {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 74px;
  border-top: 1px solid $first-gray;

  h1 {
    margin-bottom: 24px;
  }

  ul {
    display: flex;
    gap: 24px;
  }
  a.button {
    margin-top: 60px;
  }
}
